@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&family=Roboto:wght@100;300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&family=Roboto:wght@100;300;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    font-family: 'Forum', cursive;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background: #0C0C0E;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
    position: relative;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

/* .burger {
    margin-left: 40px;
}

@media (min-width: 1024px) {
    
} */

.header-inner-wrapper {
    display: flex;
    align-items: center;



}

h1 {
    margin: 0;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 166.667% */
    letter-spacing: 0.6px;
    position: relative;
}


.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
    white-space: nowrap;
}

.nav-link {

    line-height: 50px;
    color: black;
    text-decoration: none;
    transition: .3s;
}

.nav-item a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 250% */
    text-decoration: none;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #BB945F;
}

.icon_profile {
    background: #000;
}

.icon_profile_container {
    /* position: relative; */
    z-index: 20;
}

.icon-instead {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: white;
    margin-left: 40px;
    z-index: 12;
    color: #BB945F;

}

.icon-instead-visible {
    display: flex;
}

.burger {
    position: relative;
    width: 45px;
    height: 20px;
    display: none;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    margin-left: 40px;
}

.burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: white;
    /* transform: translateY(-50%); */
    transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger--active .burger__line {
    opacity: 0;
}

.burger--active::before {
    top: 50%;
    transform: rotate(45deg);
}

.burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
}


.stop-scroll {
    overflow: hidden;
}


@media (max-width:1024px) {
    .burger {
        display: block;
        z-index: 11;
    }

    .nav {
        position: fixed;
        left: 100%;
        top: 0;
        background: #000;
        z-index: 10;
        padding: 100px 107px;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;

    }

    .nav--visible {
        transform: translateX(-100%);
    }

    .nav-list {
        flex-direction: column;
    }


}

.section {
    background: #FFF;
    padding: 20px 20px 40px 20px;
}

.books {
    height: 600px;
    background: url(assets/img/85c1859f825ed82614b2036bc8be037f.jpg) lightgray 50% / cover no-repeat;
    position: relative;
    z-index: 1;
}

.overlay {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    height: 300px;
    position: relative;
    z-index: 2;
}

.welcome-bg {
    display: flex;
    width: 600px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
    position: relative;
    top: 220px;
    z-index: 2;
    box-sizing: border-box;
}

.welcome-bg-text {
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;

}

@media (max-width:1024px) {
    body {
        max-width: 768px;
    }
}

/* ABOUT */
.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    text-align: center;
    margin: 0px;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.line {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
}

.section-paragraph {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-about-container-img {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    position: relative;
    left: 0px;
    transition: 1s;



}


.img {
    /* width: calc((100% - 50px) / 3); */
    /* width: 100%; */

}


/* .item1 {
    background: url(assets/img/image1.png), lightgray 50% / cover no-repeat;
}

.item2 {
    background: url(assets/img/image2.png), lightgray 50% / cover no-repeat;
}

.item3 {
    background: url(assets/img/image3.png), lightgray 50% / cover no-repeat;
} */

.adapted-container {
    overflow: hidden;
}

@media (max-width: 1024px) {

    /* .item2,
    .item3 {
        display: none;
    } */
    .adapted-container {
        display: flex;
        justify-content: center;
        gap: 58px;
    }

    .slider-wrapper {
        width: 465px;
        overflow: hidden;
    }

    .section-about-container-img {
        margin-bottom: -15px;
    }

    .carret {
        margin-top: 288px;
    }


}

.carret:not(.disabled) {
    cursor: pointer;
}

.carret.disabled {
    opacity: .2;
}

.section-about-carousel-desktop {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: -5px;
}

.carousel-clickable-area {
    display: flex;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel-clickable-area.active {
    cursor: default
}

.carousel-clickable-area.active .inner-dot {
    background: #BB945F;
}

.carousel-inner-area {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0C0C0E;
}

.carousel-inner-area:active {
    background: #BB945F;
}



@media (min-width: 1024px) {
    .area-hidden {
        display: none;
    }

    .carret {
        display: none;
    }
}

/* - */
.section-favorites {
    box-sizing: border-box;
}

.pick-favorites {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
    margin-top: 40px;
}

.seasons {
    display: flex;
    gap: 90px;
    /* gap: 6%; */
    flex-shrink: 0;
    box-sizing: border-box;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px) {
    .sticky-mobile {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 1;
        padding: 0 0 2em;
        margin: 0 0 -2em;
    }
}


.seasons>label>input {
    margin: 0 25px 0 0;
}

.seasons>label>span {
    display: inline-block;
}

.seasons>label>input:checked+span {
    font-weight: bold;
}


label {
    cursor: pointer;
}

input[type='radio'] {
    accent-color: #000000;
    cursor: pointer;
}

.books-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .books-container {
        display: flex;
        justify-content: center;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* @keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
} */


.books-container .card {
    display: none;
    overflow: hidden;
}

/* СКРЫТИЕ И ПОЯВЛЕНИЕ КНИГ ПО СЕЗОНАМ */
.books-container[data-current=Spring] .card[data-season=Spring],
.books-container[data-current=Winter] .card[data-season=Winter],
.books-container[data-current=Summer] .card[data-season=Summer],
.books-container[data-current=Autumn] .card[data-season=Autumn] {
    display: block;
    animation: fadeIn 2s linear;
    opacity: 1;
}

.card {
    width: 590px;
    height: 555px;
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;
    margin-top: 40px;
}


.book-img {
    position: relative;
    float: right;
    top: -300px;
    height: 300px;
    width: 200px;

}

.card-description {
    border: 1px solid #0C0C0E;
    width: 550px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
    box-sizing: border-box;
}

.staff-picks {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.line2 {
    width: 60px;
    height: 1px;
    /* flex-shrink: 0; */
    background: #BB945F;
    margin-bottom: 20px;
}

.book-name {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 266.667% */
    letter-spacing: 2px;
    margin-bottom: 20px;

}

.name {
    text-transform: uppercase;
}

.author {
    text-transform: capitalize;
}

.book-description {
    width: 355px;
    display: inline-block;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card-button {
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;

    margin-top: auto;

    /* flex-shrink: 0; */
    background-color: inherit;
    cursor: pointer;
    transition: background 0.4s;
}

.card-button:hover {
    border: 1px solid #BB945F;
    background: #BB945F;
}

.card-button.disabled {
    cursor: default;
    border: 1px solid #BB945F;
    color: #BB945F;
    border-radius: 2px;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    margin-top: auto;
    cursor: default;
    pointer-events: none;

}

.card-button-disabled {}

;

.section {
    position: relative;
}

/* COFFEE SHOP */
.section-coffee-shop {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 40px; */
}

.section-coffee-shop-paragraph {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    margin: 40px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
}

@media (max-width:1024px) {
    .menu {
        flex-direction: column;
    }

    /* .menu-column {
        min-width: 438px;
    } */

    .deserts {
        margin-top: 40px;
    }

    .drinks {
        width: 62%;
    }


}

.menu-column {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.menu-column-title {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    /* width: 100%; */

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */

    text-transform: capitalize;
}

.menu-item-coffee {
    width: 100%;
    letter-spacing: 2px;
}

.menu-item-coffee>div {
    flex-grow: 0;
}

.menu-item-coffee>div.menu-item-content-1 {
    flex-grow: 1;
}

.menu-item-content-2 {
    letter-spacing: 1.5px;
}

.deserts {
    align-items: flex-end;
}

.line3 {
    width: 100px;
    height: 1px;
    background: #BB945F;
}


/* CONTACTS */
.section-contacts {
    display: flex;
    padding: 20px 20px 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.contacts-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 199px;
}

@media (max-width:1024px) {
    .contacts-info {
        flex-direction: column;
        gap: 100px;
    }

    .text-info {
        margin-left: -13px;
    }


}

.map {
    max-width: 100%;
}

.text-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text-info p {
    margin-top: 0;
}

.tel {
    text-decoration: none;
    color: inherit;
    transition: color 0.4s;
}

.tel:hover {
    border-radius: 5px;
    /* background: #BB945F; */
    color: #BB945F;

}

.phones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* Digital Library Cards */
.library-cards-container {
    display: flex;
    justify-content: space-between;
}

.library-cards-section-title {
    margin-bottom: 40px;
}

@media (max-width:1024px) {
    .library-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .get-card {
        min-width: 600px;
        margin-top: 20px;
    }

    .get-card>.get-card-title,
    .get-card>.get-card-description {
        text-align: center;
        margin-bottom: 42px;

    }

    .get-card>.get-card-buttons {
        display: flex;
        justify-content: center;
    }

    /* .find-card-border {
        margin-bottom: 20px;
    } */
}

.find-card {
    text-align: center;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    width: 600px;
}

.find-card-title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 0;
}

.find-card-border {
    border: 3px solid #BB945F;
    padding: 20px;
    box-shadow: 0px 6px 10px 1px rgba(34, 60, 80, 0.2);
    /* margin-bottom: 20px; */
}

.form-wrapper-brown {
    background: #BB945F;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 0;
    text-align: left;

}

.form-title {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 166.667% */
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.form-input {
    border-radius: 10px;
    border: none;
    background: #FFF;
    /* flex-shrink: 0; */

    color: #BB945F;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 166.667% */
    letter-spacing: 0.6px;
    margin-bottom: 25px;

    width: 520px;
    height: 66px;
    flex-shrink: 0;
    padding: 8px 0 8px 20px;
    box-sizing: border-box;
}

.form-button {
    display: inline-flex;
    padding: 10px 40px;
    align-items: flex-end;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background: #FFF;

    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: auto;

    transition: background 0.4s;
}

.form-button:hover {
    border: 1px solid #BB945F;
    background: #BB945F;
}

.get-card {
    text-align: right;
    width: 456px;
}

.get-card-title {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.get-card-description {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 0.4px;
    margin: 35px 0;
}

.card-button-ml-20 {
    margin-left: 20px;
}

/* FOOTER */
footer {
    background: #0C0C0E;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;

    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */
}

.frame5 {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.footer-library-time {
    text-align: right;
}

.footer-social-media-icons {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    gap: 15px;
    list-style: none;
}

.footer-social-media-icon {
    transition: background 0.4s;
    border-radius: 4px;
}

.footer-social-media-icon:hover {
    background: #BB945F;

}

.footer-line {
    width: auto;
    height: 1px;
    background: #FFFFFF;
    /* margin: 10px 0; */
}

.frame2 {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
    letter-spacing: 2px;
}

/* .frame2>div {
    flex: 1 1 33%;
} */

.frame2>div:first-child {
    text-align: left;
}

.frame2>div:last-child {
    text-align: right;
}

/* POPUPS */
/* drop-menu-profile */
.drop-menu-profile {
    display: none;

}

.drop-menu-profile.opened {
    top: 70px;
    right: 0px;
    background: #FFF;
    width: 80px;
    height: 115px;
    z-index: 2;
    display: block;
    position: absolute;
    text-align: center;
    font-size: 14.5px;
}

.drop-menu-profile.opened>p {
    font-size: 12px;
}

.line-dropdown {
    width: 40px;
    height: 1px;
    background: #BB945F;
    position: relative;
    left: 25%;
    margin-bottom: 10px;
}

.login-dropdown {
    margin: 0;
    padding: 5px;
}


/* modal register */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
}

.modal__box {
    box-sizing: border-box;
    width: 250px;
    padding: 20px 25px;
    z-index: 1;
    background-color: #fff;
    margin: 30px 15px;
    position: relative;
}

.modal.opened {
    visibility: visible;
    opacity: 1;
}

.modal__close-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

}

.modal__form__p {
    margin: 10px 0;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */
    letter-spacing: 0.3px;

}

.modal__form__input {
    box-sizing: border-box;
    border: 1px solid #BB945F;
    width: 200px;
    height: 20px;
}

.modal__form>button {
    margin-top: 20px;
}

.modal__form a {
    color: #000;
}

.modal__form:last-child {
    color: #000;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal__box>p {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.profile__box {
    box-sizing: border-box;
    width: 600px;
    height: 400px;
    /* padding: 20px 25px; */
    z-index: 1;
    background-color: #fff;
    margin: 30px 15px;
    position: relative;
    display: flex;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.profile__box__left {
    background-color: black;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NS {
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #BB945F;
}

.nameSurname {
    min-width: 120px;
    min-height: max-content;
    hyphens: auto;
    background-color: #fff;
    padding: 5px 15px;
    margin: 0;
    hyphens: auto;

}

.nameSurname p {}

.right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 20px;
}

.right li {
    letter-spacing: 2px;
}

.right ul {
    margin-top: 0;
    margin-bottom: 40px;
}


.profile__box__title {
    color: #000;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.cards-profile {
    display: flex;
    gap: 20px;
}

.cards-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.cards-profile-info div:last-child {
    font-size: 10px;
}

.renten-books {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.profile__box__numberline {
    display: flex;
    gap: 15px;
}

.profile__box__numberline span:nth-child(2) {
    color: #BB945F;
}

/* BUY A LIBRARY CARD */
.buy-card-box {
    box-sizing: border-box;
    width: 650px;
    height: 540px;
    /* padding: 20px 25px; */
    z-index: 1;
    background-color: #fff;
    margin: 30px 15px;
    position: relative;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.buy-card-box__title {
    background-color: black;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding: 20px 0;
}

.buy-card-box__content {
    box-sizing: border-box;
    display: flex;
    padding: 30px 40px 40px 40px;
    gap: 40px;
}

.buy-card-box__content-left {
    width: 200px;
    margin-top: -10px;

}

.buy-card-box__content-right {
    color: #8E8E8E;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */
    letter-spacing: 2px;

}

.modal__form__input.small {
    width: 45px;
    margin-right: 8px;
}

.modal__form__input.small.last {
    margin-bottom: 10px;
}

.book-price {
    color: #0C0C0E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 20px;
}